<!DOCTYPE html>
<html>
  <head>
    <title>Blog Add</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blogList">List Blogs</a></li>
      <li><a href="/blogAdd">Add Blogs</a></li>
    </ul>
    <h1>Blog Add</h1>
    <p>Currently in development</p>
  </body>
</html>